<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.system.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.springboot.system.entity.MenuEntity">
        <id column="menu_id" property="id" />
        <result column="menu_name" property="name" />
        <result column="menu_icon" property="icon" />
        <result column="menu_keypath" property="keypath" />
        <result column="menu_ranks" property="ranks" />
        <result column="menu_parent" property="parent" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="undock" property="undock" />
        <result column="state" property="state" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        menu_id, menu_name, menu_icon, menu_keypath, menu_ranks,menu_parent, create_by, create_time, update_by, update_time, undock, state, remark
    </sql>

</mapper>
